!!! 5
%html(lang="en")
  %head
    %title= content_for?(:title) ? yield(:title) : "WebsocketRailsDemo"
    = csrf_meta_tags

    = stylesheet_link_tag "application", :media => "all"

    = javascript_include_tag "application"

  %body
    .container-fluid
      .row-fluid
        .span9
          = bootstrap_flash
          = yield
